@page
@model Covinator.Pages.modernaVaccinationModel
@{
    ViewData["Title"] = "Moderna Vaccine";
    var modernaVaccineDistributionAllocationss = (QuickType.ModernaVaccineDistributionAllocations[])ViewData["ModernaVaccineDistributionAllocations"];
}

<div class="text-center">
    <h1>Moderna Vaccine Distribution Allocations</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Jurisdiction</th>
                <th>Week of allocations</th>
                <th>1st dose allocations</th>
                <th>2nd dose allocations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (QuickType.ModernaVaccineDistributionAllocations modernaVaccineDistributionAllocations in modernaVaccineDistributionAllocationss)
            {
                <tr>
                    <td>@modernaVaccineDistributionAllocations.Jurisdiction </td>
                    <td>@modernaVaccineDistributionAllocations.WeekOfAllocations </td>
                    <td>@modernaVaccineDistributionAllocations.The1StDoseAllocations </td>
                    <td>@modernaVaccineDistributionAllocations.The2NdDoseAllocations </td>
                </tr>
            }
        </tbody>
    </table>
</div>